---
import { Badge } from "@/components/ui/badge";
import { Button } from "@/components/ui/button";
import { Separator } from "@/components/ui/separator";
import { cn } from "@/lib/utils";
import { CircleCheck } from "lucide-react";

const plans = [
  {
    name: "Free",
    price: 0,
    description: "Perfect for individuals or small teams to get started with basic project management.",
    features: [
      "Up to 2 active projects",
      "Basic Kanban boards",
      "Task assignments",
      "Limited reporting",
      "Community support",
    ],
    buttonText: "Start for Free",
  },
  {
    name: "Starter",
    price: 19,
    description: "Ideal for small teams to organize tasks and projects efficiently.",
    features: [
      "Up to 5 active projects",
      "Basic Kanban boards",
      "Task assignments and deadlines",
      "Simple reporting and activity tracking",
      "Email support",
    ],
    buttonText: "Start Organizing Your Projects",
    isRecommended: true,
  },
  {
    name: "Premium",
    price: 49,
    description: "For larger teams or enterprises requiring full project management, analytics, and collaboration.",
    features: [
      "Unlimited projects",
      "Advanced Kanban, timeline & calendar views",
      "Team collaboration & permissions",
      "Detailed analytics & reporting",
      "Dedicated support and onboarding",
    ],
    buttonText: "Go Premium for Full Control",
    isPopular: true,
  },
];



---
<section class="py-10">
<div class="flex min-h-screen flex-col items-center justify-center">
      <h1 class="text-center text-5xl font-bold">Pricing</h1>
      <div class="mx-auto mt-12 grid max-w-(--breakpoint-lg) grid-cols-1 items-center gap-10 sm:mt-16 lg:grid-cols-3 lg:gap-0">
        {plans.map((plan) => (
          <div
            class={cn(
              "relative rounded-xl border p-7 lg:rounded-none lg:first:rounded-l-xl lg:last:rounded-r-xl",
              {
                "rounded-xl! border-2 border-amber-600 py-12": plan.isPopular,
              }
            )}
          >
            {plan.isPopular && (
              <Badge className="absolute top-0 right-1/2 translate-x-1/2 -translate-y-1/2 bg-amber-600">
                Most Popular
              </Badge>
            )}
            <h3 class="text-lg font-medium">{plan.name}</h3>
            <p class="mt-2 text-4xl font-bold">${plan.price}</p>
            <p class="text-muted-foreground mt-4 font-medium">{plan.description}</p>
            <Separator className="my-6" />
            <ul class="space-y-2">
              {plan.features.map((feature) => (
                <li class="flex items-start gap-2">
                  <CircleCheck className="mt-1 h-4 w-4 text-amber-600" />
                  {feature}
                </li>
              ))}
            </ul>
            <Button
              variant={plan.isPopular ? "default" : "outline"}
              size="lg"
              className={`mt-6 w-full ${plan.isPopular ? "bg-amber-600 hover:bg-neutral-700" : ""}`}
            >
              {plan.buttonText}
            </Button>
          </div>
        ))}
      </div>
    </div>
</section>
    
